<div class="form-content animated fadeInRightBig col-lg-10 col-lg-offset-1">
    <div class="page-header">
        <h1>
            Booking Form <br/>
            <small>Please fill out the form</small>
        </h1>
    </div>
    <form
            [formGroup]="form"
            (ngSubmit)="onSubmit()">

        <div
                *ngIf="isSuccess"
                class="alert alert-success">
        <span
                class="glyphicon glyphicon-check"
                aria-hidden="true"></span> <span
                class="glyphicon-class">Success! Reference Number: {{refNumber}}</span>
        </div>

        <div class="form-group">
            <label for="event">Event</label> <input
                type="text"
                class="form-control"
                id="event"
                formControlName="event">
        </div>

        <div class="form-group">
            <label for="category">Category</label> <input
                type="text"
                class="form-control"
                id="category"
                formControlName="category">
        </div>

        <div class="form-group">
            <label for="dpi">DPI</label> <input
                type="text"
                class="form-control"
                id="dpi"
                formControlName="dpi">
        </div>

        <div class="form-group">
            <label for="name">Name</label> <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name">
        </div>

        <div class="form-group">
            <label for="email">Email</label> <input
                type="text"
                class="form-control"
                id="email"
                formControlName="email">
        </div>

        <div class="form-group">
            <label for="quantity">Quantity</label> <input
                type="text"
                class="form-control"
                id="quantity"
                formControlName="quantity">
        </div>



        <div *ngIf="!isSuccess">
            <button
                    class="btn btn-danger btn-rounded"
                    (click)="onCancel()">Back
            </button>
            <button
                    type="submit"
                    class="btn btn-primary btn-rounded"
                    [disabled]="!form.valid">{{title}}
            </button>
        </div>
        <div *ngIf="isSuccess">
            <button
                    class="btn btn-primary btn-rounded"
                    [routerLink]="['/events']"
                    [hidden]="!isSuccess">Continue
            </button>
        </div>
    </form>
</div>